@using SimulationTiyaGolf.ViewModels

@model List<EventGetVM>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">EventDate</th>
                    <th scope="col">Image</th>
                    <th scope="col">Country</th>
                    <th scope="col">City</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action buttons</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventik in Model)
                {
                    <tr>
                        <th scope="row">@eventik.Id</th>
                        <td>@eventik.Title</td>
                        <td>@eventik.Description</td>
                        <td>@eventik.EventDate</td>
                        <td><img src="~/images/@eventik.Image" /></td>
                        <td>@eventik.LocationCountry</td>
                        <td>@eventik.LocationCity</td>
                        <td>@eventik.Price</td>
                        <td>
                            <a asp-action="Update" asp-route-id="@eventik.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-route-id="@eventik.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>