@model List<Location>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Country</th>
                    <th scope="col">City</th>
                    <th scope="col">Action buttons</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var location in Model)
                {
                    <tr>
                        <th scope="row">@location.Id</th>
                        <td>@location.Country</td>
                        <td>@location.City</td>
                        <td>
                            <a asp-action="Update" asp-route-id="@location.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-route-id="@location.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>